IMAG_Source/VISA/DotNet/DataNavigator/VistaCommon/Web References/UserService/ImagingUserSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlmime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns="urn:soap.webservices.user.imaging.med.va.gov" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlhttp="http://schemas.xmlsoap.org/wsdl/http/" name="ImagingUserSOAP" targetNamespace="urn:soap.webservices.user.imaging.med.va.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		This WSDL describes the concrete bindings, abstract interface and types of the Web Service.
	</wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:soap.webservices.user.imaging.med.va.gov">
      <xsd:simpleType name="TransactionIdentifierType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="128" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UserCredentials">
        <xsd:sequence>
          <xsd:element name="fullname" type="xsd:string" />
          <xsd:element name="duz" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="siteName" type="xsd:string" />
          <xsd:element name="siteNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAuthenticateUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="transaction-id" type="tns:TransactionIdentifierType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAuthenticateUserResponse" type="tns:UserCredentials" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateUserRequest">
    <wsdl:part name="parameters" element="tns:getAuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="authenticateUserResponse">
    <wsdl:part name="parameters" element="tns:getAuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageUserMetadata">
    <wsdl:operation name="authenticateUser">
      <wsdl:input name="authenticateUserRequest" message="tns:authenticateUserRequest" />
      <wsdl:output name="authenticateUserResponse" message="tns:authenticateUserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageUserSoapBinding" type="tns:ImageUserMetadata">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticateUser">
      <wsdlsoap:operation soapAction="getUserCredentials" />
      <wsdl:input name="authenticateUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authenticateUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageUserService">
    <wsdl:port name="ImageUserSoapBinding" binding="tns:ImageUserSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/ImagingExchangeWebApp/webservices/ImageUser" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>